.order-history-section {
  background-color: #fff8f8;
  flex-grow: 1;
  margin-left: 24px;
  padding: 24px;
  border-radius: 16px;
}
.order-history-section h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.orders-wrapper {
  width: 100%;
  margin: 8px auto;
  border: 1px solid #feeaeb;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
}
.cust-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
}
.cust-details svg {
  color: #fa4547 !important;
}
.cust-details h3 {
  font-weight: 16px;
  font-weight: 400;
}
.cust-details h3 span {
  font-weight: 500;
  color: #fa4547;
  font-size: 20px;
}
.orders-list {
  width: 100%;
  border-collapse: collapse;
}
.orders-list td,
th {
  border-bottom: 1px solid #fa4547 !important;
  font-size: 16px !important;
  text-align: center;
  letter-spacing: 0.8px !important;
  padding: 12px 8px;
}
